body {
    font-family: 'Space Grotesk', sans-serif;
    height: 100%;
    widows: 100%;
    margin: 0;
}


/*-------------------------------Nav-bar*/

.navbar-brand {
    padding-left: 20px;
    font-family: "Space Grotesk", sans-serif;
    font-size: 36px;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
}

.animated-icon1 {
    background-color: #fff;
}


/*-------------------------------Home*/



.jumbotron {
    background-color: rgba(0, 0, 0, 0.75);
    margin: 0 auto;
    
}

section #home {
    height: 100%;
    widows: 100%;
}

.welcome-container {
    height: 100vh;
    color: #fff;

    background: url("../images/start-pic.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display:flex;
    align-items: center;
    justify-content: center;

    position: relative;

}


/*-------------------------------Classes*/

section #classes {
    height: 100%;
    widows: 100%;
}

.classes-container {
    background-image: url("https://cc245a4e-84ad-40d0-a0c3-75b4badd4ee9.ws-eu01.gitpod.io/mini-browser/workspace/MilestoneProject1/assets/images/canvas.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;     
}

.classes-container h2 {
    font-size: 4em;
    color:black;
}

.container .body-pump {
    position: relative;
}

.text-block {
    color: #fff;
    text-align: center;    
    background-color: rgba(0, 0, 0, 0.75);
    padding-left:5px;
    padding-right: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container .spinning {    
    position: relative;
}

.container .calisthenics {
    position: relative;
}

.container .grit {
    position: relative;
}



.zoom {
    padding: 0;    
    transition: transform .2s;        
    margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.2); 
  -webkit-transform: scale(1.2); 
  transform: scale(1.2); 
}

/*-------------------------------Reviews*/
.rewievs{    
    color: #fff;
    background-color: black;    
}

.manRunning {
    height: 150px;
    width: 150px;
}

.girlCanoe {
    height: 150px;
    width: 150px;
}

.girlRunning {
    height: 150px;
    width: 150px;
}

.d-flex .container-reviews-content {
    justify-content: space-between;
    align-content: center;
}

.reviews-container h2 {
    font-size: 4em;
}

.rounded-circle {
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    border-radius: 50%;
}


/*-------------------------------Footer*/

footer {
    
    background-color: #212529;
}

.container {
    padding: 0;
}

.contact {
    color: #fff;    
    display: inline;
    text-align: center;    
}

.contact p i {
    padding-right: 5px;
}

.address {
    color: #fff;    
    display: inline;
    text-align: center;
}

.social {
    list-style-type: none;
    color: #fff;
    font-size: 150%;
    padding: 0;    
}

.social a{
    color: #fff;
    text-decoration: none;
    font-size: 150%;       
}

.social i {
    padding: 5px;
}

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;    
}


/*-------------------------------Modals*/

#signUpModal {    
    margin-top: 15rem;
}

.modal-content {
    background-color: #343a40;
    color: #fff;
}

#btn-submit a {
    text-decoration: none;
    color: #fff;
    font-family: "Space Grotesk", sans-serif;
}


#modal-contact {
    position: fixed; 
    bottom: 0px; 
    right: 0px;
    margin: 10px;
    font-size: 150%
}


