body {
    font-family: "Open Sans", sans-serif;
}

.navbar-brand {
    padding-left: 25px;
    font-family: Roboto, sans-serif;
    font-size: 24px;
}


/*-------------------------------Nav-bar*/



/*-------------------------------Header*/


/*-------------------------------Home*/
.welcome-container {
    height: 100vh;
}

/*-------------------------------Classes*/
.classes-container {

}

/*-------------------------------Reviews*/
.reviews-container{

}

